@import '../../../styles/variables.scss';

.gameboy-start-select-controls {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 75px);
    justify-content: center;
    margin-top: -55px;
}

.gameboy-controls-start {
    grid-column: 1;
    grid-row: 1;
}

.gameboy-controls-select {
    grid-column: 2;
    grid-row: 1;
}

@media only screen and (min-width: $media-min-md) {
    .gameboy-start-select-controls {
        margin-top: 35px;
    }
}