.btn.gameboy-controls-button {
    font-size: 15px;
}

.gameboy-controls-button.gameboy-controls-button-circle {
    border-radius: 50%;
    width: 38px;
}

.gameboy-controls-button-directional {
    width: 60px;
}

.btn.gameboy-controls-button.gameboy-controls-button-start-select {
    font-size: 1rem;
    width: 75px;
}