.App {
  text-align: center;
}

.gameboy-dropzone {
  background-color: white;
  border-style: solid;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 220px;
  min-height: 100px;
}