@import '../../styles/variables.scss';

.gameboy {
    background-color: #bababa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 20px;
    width: 350px;
}

@media only screen and (min-width: $media-min-lg) {
    .gameboy {
        height: 600px;
        width: 540px;
    }
}

.gameboy-item {
    margin: 20px;
}